<%- include('./navbar_v2') %>
<main>
    <section class="h-100 gradient-custom">
        <div class="container py-5">
            <div class="row mx-5">
                <h3>My Account</h3>
            </div>
            <div class="row d-flex justify-content-center my-4">
                <!-- Left navbar -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-header" style="background-color: white;">
                                <h5 class="mb-2">Options</h5>
                            </div>
                            <ul class="nav nav-pills nav-fill flex-column mt-3">
                                <li class="nav-item my-1">
                                    <a class="nav-link" href="/account">Profile Settings</a>
                                </li>
                                <li class="nav-item my-1">
                                    <a class="nav-link" href="/account/changepassword">Change Password</a>
                                </li>
                                <li class="nav-item my-1">
                                    <a class="nav-link active" href="/account/history">My History</a>
                                </li>
                                <li class="nav-item my-1">
                                    <a class="nav-link link-danger" href="/account/delete">Delete account</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Left navbar -->

                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">History</h5>
                        </div>
                        <div class="card-body">
                        <!-- Order -->
                            <div>
                            <h4>Order number: 1234</h4>
                            <p><strong>Order date: 12.12.2012</strong></p>
                            <!-- Item -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                            data-mdb-ripple-color="light">
                                            <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                                            <a href="#!">
                                                <div class="mask"
                                                    style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6 py-5">
                                        <p><strong>Lenovo Best Model</strong></p>
                                    </div>
                                </div>
                            <!-- Item -->   
                                <div class="row">
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                            data-mdb-ripple-color="light">
                                            <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                                            <a href="#!">
                                                <div class="mask"
                                                    style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6 py-5">
                                        <p><strong>Lenovo Best Model</strong></p>
                                    </div>
                                </div>
                                <p class="text-center">
                                    <strong>$1700.99</strong>
                                </p>
                                <hr class="my-4" />
                            </div>
                            <!-- Order -->
                             <!-- Order -->
                             <div>
                                <h4>Order number: 1234</h4>
                                <p><strong>Order date: 12.12.2012</strong></p>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                            <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                                data-mdb-ripple-color="light">
                                                <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                                                <a href="#!">
                                                    <div class="mask"
                                                        style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 py-5">
                                            <p><strong>Lenovo Best Model</strong></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                            <!-- Image -->
                                            <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                                data-mdb-ripple-color="light">
                                                <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                                                <a href="#!">
                                                    <div class="mask"
                                                        style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 py-5">
                                            <p><strong>Lenovo Best Model</strong></p>
                                        </div>

                                    </div>
                                    <p class="text-center">
                                        <strong>$1700.99</strong>
                                    </p>
                                    <hr class="my-4" />
                                </div>
                                <!-- Order -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('./footer') %>