<%- include('./navbar_v2') %>
    <main class="py-5 mt-5">
        <div>
            <p class="fs-4 text text-center">Thank you for your trust. We have accepted your purchase. Return to the <a href="/">home page</a>. </p>
        </div>    
    </main>
<%- include('./footer') %>