<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Proba</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-lightn bg-light">
        <!-- Left elements -->
        <div class="ps-3">
            <a class="navbar-brand " href="#">
                <img src="./logo.png" heigh="auto" width="50%" alt="Store">
            </a>
        </div>

    </nav>
    <!-- Navbar -->



    <main>
        <section class="h-100 gradient-custom">
            <div class="container py-5">
                <div class="row mx-5">
                    <h3>My Account</h3>
                </div>
                <div class="row d-flex justify-content-center my-4">
                    <div class="col-md-4">
                        <div class="card mb-4">


                            <div class="card-body">
                                <div class="card-header" style="background-color: white;">
                                    <h5 class="mb-2">Options</h5>
                                </div>
                                <ul class="nav nav-pills nav-fill flex-column mt-3">
                                    <li class="nav-item my-1">
                                        <a class="nav-link" href="#">Profile Settings</a>
                                    </li>
                                    <li class="nav-item my-1">
                                        <a class="nav-link" href="#">Change Password</a>
                                    </li>
                                    <li class="nav-item my-1">
                                        <a class="nav-link" href="#">My History</a>
                                    </li>
                                    <li class="nav-item my-1">
                                        <a class="nav-link  active" style="background-color: red; color: white;" href="#">Delete account</a>
                                    </li>

                                </ul>


                            </div>
                        </div>
                    </div>




                    <div class="col-md-8">
                        <div class="container py-5 h-100" style="width: 40%;">
                            <div class="row justify-content-center align-items-center p-5 card shadow-2-strong card-registration" style="border-radius: 15px;">
                                <div class="text-center">
                                    <p>Are you sure you want to delete your account?</p>
            
                                </div>
                                <button type="button" class="btn btn-outline-danger btn-block mb-4">YES</button>
                            </div>
                        </div>

                    </div>


                </div>


            </div>
            </div>
        </section>


    </main>
    <footer class="footer mt-auto pt-3 bg-light text-center">
        <div class="container p-4">
            <div class="row">
                <div class="col">
                    <h5 class="text-uppercase">About us</h5>
                    <p>
                        Our store is a leading seller of laptops in the world market.
                        We have been in business for 20 years.
                        We offer high quality products at very good prices.
                    </p>
                </div>
                <div class="col">
                    <h5 class="text-uppercase">Contact</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            store@store.pl
                        </li>
                        <li>
                            +48 123456789
                        </li>
                        <li>
                            Wrocław
                        </li>
                        <li>
                            ul. Niejstniejąca 12
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright: keszinaj and bartacc
        </div>
    </footer>



</body>

</html>