<!--  Footer with closing tags  -->
<footer class="footer mt-auto pt-3 bg-light text-center">
    <div class="container p-4">
        <div class="row">
            <div class="col">
                <h5 class="text-uppercase">About us</h5>
                <p>
                    Our store is a leading seller of laptops in the world market.
                    We have been in business for 20 years.
                    We offer high quality products at very good prices.
                </p>
            </div>
            <div class="col">
                <h5 class="text-uppercase">Contact</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        store@store.pl
                    </li>
                    <li>
                        +48 123456789
                    </li>
                    <li>
                        Wrocław
                    </li>
                    <li>
                        ul. Niejstniejąca 12
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: keszinaj and bartacc
    </div>
</footer>
</body>
</html>