<%- include('./navbar_v1') %>
  <!-- Carusel Advert -->
  <div id="carouselExampleIndicators" class="carousel slide advert" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner advert-img">
      <div class="carousel-item active">
        <img src="./reklama3.webp" class="d-block w-100" alt="advert">
      </div>
      <div class="carousel-item">
        <img src="./reklama1.jpg" class="d-block w-100" alt="advert">
      </div>
      <div class="carousel-item">
        <img src="./reklama2.jpg" class="d-block w-100" alt="advert">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
  <!-- Carusel Advert -->




  <main>
    <div class="card--list">
      <div class="card card--style">
        <img src="./laptop_ex.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lenovo IdeaPad 3-15 </h5>
          <ul class="text-muted p-0" style="list-style-type: none; font-size: 0.8rem;">
            <li>
              CPU: Intel Core i5
            </li>
            <li>
              Memory: 8gb
            </li>
            <li>
              Graphics: Zintegrowane
            </li>
            <li>
          </ul>
          <div class="d-flex justify-content-between align-items-center px-3">
            <div>
              1200$
            </div>
            <button type="button" class="btn btn-outline-success w-50"> Buy </button>
          </div>
        </div>
      </div>
      <div class="card card--style">
        <img src="./laptop_ex.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lenovo IdeaPad 3-15 </h5>
          <ul class="text-muted p-0" style="list-style-type: none; font-size: 0.8rem;">
            <li>
              CPU: Intel Core i5
            </li>
            <li>
              Memory: 8gb
            </li>
            <li>
              Graphics: Zintegrowane
            </li>
            <li>
          </ul>
          <div class="d-flex justify-content-between align-items-center px-3">
            <div>
              1200$
            </div>
            <button type="button" class="btn btn-outline-success w-50"> Buy </button>
          </div>
        </div>
      </div>
      <div class="card card--style">
        <img src="./laptop_ex.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lenovo IdeaPad 3-15 </h5>
          <ul class="text-muted p-0" style="list-style-type: none; font-size: 0.8rem;">
            <li>
              CPU: Intel Core i5
            </li>
            <li>
              Memory: 8gb
            </li>
            <li>
              Graphics: Zintegrowane
            </li>
            <li>
          </ul>
          <div class="d-flex justify-content-between align-items-center px-3">
            <div>
              1200$
            </div>
            <button type="button" class="btn btn-outline-success w-50"> Buy </button>
          </div>
        </div>
      </div>
      <div class="card card--style">
        <img src="./laptop_ex.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lenovo IdeaPad 3-15 </h5>
          <ul class="text-muted p-0" style="list-style-type: none; font-size: 0.8rem;">
            <li>
              CPU: Intel Core i5
            </li>
            <li>
              Memory: 8gb
            </li>
            <li>
              Graphics: Zintegrowane
            </li>
            <li>
          </ul>
          <div class="d-flex justify-content-between align-items-center px-3">
            <div>
              1200$
            </div>
            <button type="button" class="btn btn-outline-success w-50"> Buy </button>
          </div>
        </div>
      </div>
      <div class="card card--style">
        <img src="./laptop_ex.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lenovo IdeaPad 3-15 </h5>
          <ul class="text-muted p-0" style="list-style-type: none; font-size: 0.8rem;">
            <li>
              CPU: Intel Core i5
            </li>
            <li>
              Memory: 8gb
            </li>
            <li>
              Graphics: Zintegrowane
            </li>
            <li>
          </ul>
          <div class="d-flex justify-content-between align-items-center px-3">
            <div>
              1200$
            </div>
            <button type="button" class="btn btn-outline-success w-50"> Buy </button>
          </div>
        </div>
      </div>
      <div class="card card--style">
        <img src="./laptop_ex.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lenovo IdeaPad 3-15 </h5>
          <ul class="text-muted p-0" style="list-style-type: none; font-size: 0.8rem;">
            <li>
              CPU: Intel Core i5
            </li>
            <li>
              Memory: 8gb
            </li>
            <li>
              Graphics: Zintegrowane
            </li>
            <li>
          </ul>
          <div class="d-flex justify-content-between align-items-center px-3">
            <div>
              1200$
            </div>
            <button type="button" class="btn btn-outline-success w-50"> Buy </button>
          </div>
        </div>
      </div>
      <div class="card card--style">
        <img src="./laptop_ex.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lenovo IdeaPad 3-15 </h5>
          <ul class="text-muted p-0" style="list-style-type: none; font-size: 0.8rem;">
            <li>
              CPU: Intel Core i5
            </li>
            <li>
              Memory: 8gb
            </li>
            <li>
              Graphics: Zintegrowane
            </li>
            <li>
          </ul>
          <div class="d-flex justify-content-between align-items-center px-3">
            <div>
              1200$
            </div>
            <button type="button" class="btn btn-outline-success w-50"> Buy </button>
          </div>
        </div>
      </div>
      <div class="card card--style">
        <img src="./laptop_ex.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lenovo IdeaPad 3-15 </h5>
          <ul class="text-muted p-0" style="list-style-type: none; font-size: 0.8rem;">
            <li>
              CPU: Intel Core i5
            </li>
            <li>
              Memory: 8gb
            </li>
            <li>
              Graphics: Zintegrowane
            </li>
            <li>
          </ul>
          <div class="d-flex justify-content-between align-items-center px-3">
            <div>
              1200$
            </div>
            <button type="button" class="btn btn-outline-success w-50"> Buy </button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('./footer') %>