<%- include('./navbar_v2') %>



    <main>
        <form class="py-5 ">
            <div class="container py-5 h-100" style="width: 30%;">
                <div class="row justify-content-center align-items-center p-5 card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control" />
                        <label class="form-label" for="email">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="psw" class="form-control" />
                        <label class="form-label" for="psw">Password</label>
                    </div>

                    <!-- Submit button -->
                    <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a href="/register">Register</a></p>

                    </div>
                </div>
            </div>
        </form>




    </main>
    <%- include('./footer') %>