<%- include('./navbar_v1') %>



    <main>
        <div class="one_item_top">
            <div>
                <img src="./laptop_ex.webp" class="rounded" alt="laptop">
            </div>
            <div class="one_item_card">
                <div class="one_item_name pt-5">
                    <h2>Lenovo IdeaPad 3-15</h2>
                </div>
                <div class="card border-light mb-5 one_item_card_components" style="max-width: 18rem;">
                    <div class="card-header">Components</div>
                    <div class="card-body text-primary">
                        <ul class="text-muted p-0" style="list-style-type: none; font-size: 0.8rem;">
                            <li>
                                CPU: Intel Core i5
                            </li>
                            <li>
                                Memory: 8gb
                            </li>
                            <li>
                                Graphics: Zintegrowane
                            </li>
                            <li>
                        </ul>
                    </div>
                </div>

                <div class="card border-secondary mb-5 one_item_buy_card text-center" style="max-width: 18rem;">
                    <div class="card-body text-secondary">
                        <h3 class="mt-2 mb-0 card-title text-dark">5199$</h3>
                        <form class="form-inline">
                            <select class="custom-select mb-1" id="inlineFormCustomSelectPref">

                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>


                            <button type="submit" class="btn px-5 mx-2 my-5 btn-outline-success btn-lg">Buy</button>
                        </form>
                        <div class="text-muted">
                            
                            Due to the rules of the store, a maximum of 5 laptops can be purchased.
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="one_item_more_info">
            <h4>More info</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Volutpat blandit aliquam etiam erat velit scelerisque. Eget est lorem ipsum dolor sit
            amet consectetur adipiscing. Tristique nulla aliquet enim tortor at auctor urna. Quis hendrerit dolor magna
            eget est lorem ipsum dolor sit. Facilisis magna etiam tempor orci eu lobortis elementum. Sed viverra tellus
            in hac habitasse. Orci eu lobortis elementum nibh. Quam pellentesque nec nam aliquam sem et. Risus viverra
            adipiscing at in tellus integer feugiat. Dui id ornare arcu odio. Sit amet consectetur adipiscing elit ut
            aliquam purus sit amet. Blandit turpis cursus in hac habitasse platea dictumst. Mattis aliquam faucibus
            purus in massa. Pharetra et ultrices neque ornare aenean euismod elementum.

            Adipiscing tristique risus nec feugiat in. Tristique sollicitudin nibh sit amet commodo nulla facilisi
            nullam. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Elementum nibh tellus molestie nunc.
            Dictum at tempor commodo ullamcorper a lacus vestibulum. Erat velit scelerisque in dictum non. Purus semper
            eget duis at tellus. Urna nec tincidunt praesent semper feugiat. Integer malesuada nunc vel risus commodo
            viverra maecenas accumsan lacus. Ultricies leo integer malesuada nunc. Vel pharetra vel turpis nunc eget
            lorem dolor sed viverra. Sit amet nulla facilisi morbi tempus iaculis urna. Duis at tellus at urna
            condimentum mattis pellentesque id. Urna duis convallis convallis tellus id interdum velit laoreet. Quis
            imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. In tellus integer feugiat scelerisque.
            Nullam ac tortor vitae purus faucibus ornare suspendisse.

            Parturient montes nascetur ridiculus mus mauris vitae ultricies leo integer. Amet nisl purus in mollis nunc
            sed. Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Porttitor rhoncus dolor purus non
            enim praesent. Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Nisl purus in mollis
            nunc sed id semper risus in. Est pellentesque elit ullamcorper dignissim cras tincidunt. Ut enim blandit
            volutpat maecenas volutpat blandit aliquam. Leo a diam sollicitudin tempor id eu nisl nunc mi. Consectetur
            lorem donec massa sapien faucibus et molestie ac feugiat. Nunc eget lorem dolor sed viverra ipsum nunc
            aliquet bibendum. Quisque id diam vel quam elementum. Massa eget egestas purus viverra accumsan in.

            Non enim praesent elementum facilisis leo vel. Cursus euismod quis viverra nibh cras pulvinar mattis nunc
            sed. Mi eget mauris pharetra et ultrices. Bibendum est ultricies integer quis auctor elit sed. Scelerisque
            in dictum non consectetur a erat nam at lectus. Dui sapien eget mi proin sed. Auctor elit sed vulputate mi
            sit amet mauris commodo. Amet consectetur adipiscing elit ut aliquam purus sit. Eu ultrices vitae auctor eu
            augue ut lectus arcu. Tellus in metus vulputate eu. Morbi tristique senectus et netus.

            Ultrices tincidunt arcu non sodales neque sodales. Quis enim lobortis scelerisque fermentum dui. Posuere
            morbi leo urna molestie at. Faucibus turpis in eu mi bibendum. A lacus vestibulum sed arcu non odio euismod
            lacinia. Amet nisl purus in mollis nunc sed id. A condimentum vitae sapien pellentesque habitant morbi
            tristique senectus. Sit amet risus nullam eget felis eget nunc lobortis mattis. Egestas sed sed risus
            pretium. Arcu vitae elementum curabitur vitae nunc sed velit dignissim. Vulputate odio ut enim blandit
            volutpat maecenas. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Nisi quis eleifend
            quam adipiscing vitae proin. Eget mauris pharetra et ultrices neque ornare. Vulputate eu scelerisque felis
            imperdiet proin fermentum leo.
        </p>


        </div>
      



    </main>
    <%- include('./footer') %>