<%- include('./head_v2') %>
<main>
        
    <div class="container py-5 h-100" style="width: 30%;">
        <div class="row justify-content-center align-items-center p-5 card shadow-2-strong card-registration" style="border-radius: 15px;">
            <% if ( locals.error_message ) { %>
                <div class="alert alert-danger" >
                <%= locals.error_message %>
                </div>
            <% } %>
            <h3>Admin Panel</h3>
            <form action="/admin/login" method="POST">
            <!-- Login input -->
            <div class="form-outline mb-4">
                <input type="text" id="login" class="form-control" name="login"/>
                <label class="form-label" for="login">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="psw" class="form-control" name="password"/>
                <label class="form-label" for="psw">Password</label>
            </div>

            <!-- Submit button -->
            <button class="btn btn-primary btn-block mb-4">Sign in</button>
        </form>
            <!-- Register buttons -->
            
        </div>
    </div>
</main>
    <%- include('./footer') %>