<%- include('./head_v2') %>
<main class="mx-5 px-5">
    <div class="p-5 mx-5">
      <table class="table bg-white">
        <thead class="bg-light">
          <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>City</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>


          <!--One Item-->
          <tr>
            <td>

              <p class="mb-1">21374202137420</p>

            </td>
            <td>
              <p class="mb-1">Jan</p>
            </td>
            <td>
              <p class="mb-1">Kowalski</p>
            </td>
            
            <td>
                <p class="mb-1">jankowalski@gmail.com</p>
            </td>
            <td>
                <p class="mb-1">123456789</p>
            </td>
            <td>
                <p class="mb-1">Berlin</p>
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-outline-primary px-4">More</button>
            </td>
          </tr>
          <!-- One Item -->
          <!--One Item-->
          <tr>
            <td>

              <p class="mb-1">21374202137420</p>

            </td>
            <td>
              <p class="mb-1">Jan</p>
            </td>
            <td>
              <p class="mb-1">Kowalski</p>
            </td>
            
            <td>
                <p class="mb-1">jankowalski@gmail.com</p>
            </td>
            <td>
                <p class="mb-1">123456789</p>
            </td>
            <td>
                <p class="mb-1">Berlin</p>
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-outline-primary px-4">More</button>
            </td>
          </tr>
          <!-- One Item -->

        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center px-2 m-2">
      <a href="#" class="btn btn-primary disabled mx-5 px-5">Prev</a>
      <a href="#" class="btn btn-primary disabled mx-5 px-5">Next</a>

    </div>

  </main>
  <%- include('./footer') %>