<%- include('./head_v1') %>
  <main>
    <section class="h-100">
      <div class="container py-1">
        <div class="row d-flex justify-content-center my-4">
          <!-- Left Panel -->
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-header py-3">
                <div class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  <h5>Order</h5>
                  <span class="badge bg-warning text-dark">Pending</span>
                </div>
              </div>
              <div class="card-body">

                <!-- Single item -->
                <div class="row">
                  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">

                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                      <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                      </a>
                    </div>

                  </div>

                  <div class="col-lg-5 col-md-6 py-5">

                    <p><strong>Lenovo Best Model</strong></p>

                  </div>

                  <div class="col-lg-4 col-md-6 position-relative">

                    <p class="position-absolute bottom-0 end-0 py-5 px-5">
                      <strong>$1700.99</strong>
                    </p>

                  </div>
                </div>

                <hr class="my-4" />

                <!-- Single item -->


                <!-- Single item -->
                <div class="row">
                  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">

                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                      <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                      </a>
                    </div>

                  </div>

                  <div class="col-lg-5 col-md-6 py-5">

                    <p><strong>Lenovo Best Model</strong></p>

                  </div>

                  <div class="col-lg-4 col-md-6 position-relative">

                    <p class="position-absolute bottom-0 end-0 py-5 px-5">
                      <strong>$1700.99</strong>
                    </p>

                  </div>
                </div>
                <!-- Single item -->

                <hr class="my-4" />

                <!-- Single item -->
                <div class="row">
                  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">

                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                      <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                      </a>
                    </div>

                  </div>

                  <div class="col-lg-5 col-md-6 py-5">

                    <p><strong>Lenovo Best Model</strong></p>

                  </div>

                  <div class="col-lg-4 col-md-6 position-relative">


                    <p class="position-absolute bottom-0 end-0 py-5 px-5">
                      <strong>$1700.99</strong>
                    </p>

                  </div>
                </div>
                <!-- Single item -->

                <hr class="my-4" />
                <div class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Total amount</strong>
                    <strong>
                      <p class="mb-0">(including VAT)</p>
                    </strong>
                  </div>
                  <span><strong>$10000</strong></span>
                </div>
                
              </div>
            </div>
          </div>
          <!-- Left Panel -->

          <!-- Right Panel -->
          <div class="col-md-6">
             <!-- Action Panel -->
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Action</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush ">
                  <li class="list-group-item d-flex justify-content-center  px-0">
                    <button type="button" class="btn btn-lg btn-outline-warning px-4">Cange status</button>
                  </li>
                  <li class="list-group-item d-flex justify-content-center  px-0">
                    <button type="button" class="btn btn-lg btn-outline-info px-4">Contact client</button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Action Panel -->
            
            <!-- CLient Data Panel -->
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Client data</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">

                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Name
                    <span>Jan Kowalski</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Email
                    <span>jankowalski@gmailc.com</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Telefon
                    <span>123456789</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Phone
                    <span>123456789</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Birthday
                    <span>12/12/2000</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Gender
                    <span>Male</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Street an dnumber
                    <span>Adama Mickiewicza 12</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    City
                    <span>Gdansk</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Zio-Code
                    <span>12-123</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Country
                    <span>USA</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Total amount
                    <span>$10000</span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- CLient Data Panel -->
          </div>
          <!-- Right Panel -->
        </div>
      </div>
    </section>


  </main>
  <%- include('./footer') %>