<%- include('./head_v2') %>
<main>
    <div class="container py-1">
        <div class="row d-flex justify-content-center my-5">
            <div class="col-md-4">
                <div class="card ">
                    <img src="/one_user.jpg" class="card-img-top rounded mx-auto d-block" alt="user_img"
                        style="width: 30%;">
                    <div class="card-body">
                        <h5 class="card-title">User data</h5>

                        <ul class="list-group list-group-flush">

                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Id
                                <span>812937</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Name and surname
                                <span>Jan Kowalksi</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Email
                                <span>jankowalski@gmailc.com</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Phone
                                <span>123456789</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Birthday
                                <span>12/12/2000</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Gender
                                <span>Male</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Street an dnumber
                                <span>Adama Mickiewicza 12</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                City
                                <span>Gdansk</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Zip-Code
                                <span>12-123</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Country
                                <span>USA</span>
                            </li>



                        </ul>
                    </div>
                </div>
            </div>




            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">History</h5>
                    </div>

                    <div class="card-body">
                    <!-- Order -->
                        <div>
                        <h4>Order number: 1234</h4>
                        <p><strong>Order date: 12.12.2012</strong></p>
                            <div class="row">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                        data-mdb-ripple-color="light">
                                        <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                                        <a href="#!">
                                            <div class="mask"
                                                style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-6 py-5">
                                    <p><strong>Lenovo Best Model</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                        data-mdb-ripple-color="light">
                                        <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                                        <a href="#!">
                                            <div class="mask"
                                                style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-6 py-5">
                                    <p><strong>Lenovo Best Model</strong></p>
                                </div>

                            </div>
                            <p class="text-center">
                                <strong>$1700.99</strong>
                            </p>
                            <hr class="my-4" />
                        </div>
                        <!-- Order -->
                         <!-- Order -->
                         <div>
                            <h4>Order number: 1234</h4>
                            <p><strong>Order date: 12.12.2012</strong></p>
                                <div class="row">
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                            data-mdb-ripple-color="light">
                                            <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                                            <a href="#!">
                                                <div class="mask"
                                                    style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6 py-5">
                                        <p><strong>Lenovo Best Model</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                            data-mdb-ripple-color="light">
                                            <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                                            <a href="#!">
                                                <div class="mask"
                                                    style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6 py-5">
                                        <p><strong>Lenovo Best Model</strong></p>
                                    </div>

                                </div>
                                <p class="text-center">
                                    <strong>$1700.99</strong>
                                </p>
                                <hr class="my-4" />
                            </div>
                            <!-- Order -->



                    </div>

                </div>
            </div>
        </div>
    </div>




</main>
<%- include('./footer') %>